<h2>編集</h2>

<form action="/memos/<%= @memo[:id] %>" method="post">
  <h3>タイトル</h3>
  <p><input class="form-control" type="text" name="title" value="<%= @memo[:title] %>"></p>
  <h3>内容</h3>
  <p><textarea class="form-control" name="content" rows="5" cols="33"><%= @memo[:content] %></textarea></p>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="編集">
</form>
<a href="/">topへ戻る</a>
