<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header">
    <h1>メモアプリ</h1>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="footer">
    © 2023 Copyright: kyokucho1989
  </div>
</body>
</html>
